USE [master]
GO
/****** Object:  Database [BDStore]    Script Date: 10/07/2021 10:19:25 ******/
CREATE DATABASE [BDStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDStore]
GO
/****** Object:  User [AdminStore]    Script Date: 10/07/2021 10:19:26 ******/
CREATE USER [AdminStore] FOR LOGIN [AdminStore] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [AdminStore]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [AdminStore]
GO
/****** Object:  Table [dbo].[Pedido_hecho]    Script Date: 10/07/2021 10:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_hecho](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[rut] [bigint] NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[Telefono] [numeric](12, 0) NOT NULL,
	[Cantidad] [numeric](2, 0) NOT NULL,
	[Id_product] [bigint] NOT NULL,
 CONSTRAINT [PK_Pedido_hecho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/07/2021 10:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descr] [varchar](50) NOT NULL,
	[Precio] [numeric](9, 2) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido_hecho]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_hecho_Product] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Pedido_hecho] CHECK CONSTRAINT [FK_Pedido_hecho_Product]
GO
USE [master]
GO
